<div class="modal fade" id="userModal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">{{PREFIX + '.title' | translate}}</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formGroup" [attr.id]="formId">
          <div class="form-row">
            <div class="col-md">
              <ct-textfield [label]="getDrawerProperty('P_M_USER')+'.id'"
                            [formControlName]="'id'"></ct-textfield>
              <ct-textfield [label]="getDrawerProperty('P_M_USER')+'.userName'"
                            [formControlName]="'username'"></ct-textfield>
              <ct-textfield [label]="getDrawerProperty('P_M_USER')+'.password'"
                            [formControlName]="'password'"></ct-textfield>
              <ct-textfield [label]="getDrawerProperty('P_M_USER')+'.email'"
                            [formControlName]="'email'"></ct-textfield>
              <ct-combo-box [label]="getDrawerProperty('P_M_USER')+'.role'"
                            [eqVal]="'idRole'"
                            [values]="roles"
                            [itemCaption]="'name'"
                            [formControlName]="'role'"></ct-combo-box>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <ct-button [type]="ButtonType.DANGER" (click)="close()">
          {{'Core.btnCancel' | translate}}
        </ct-button>
        <ct-button [type]="ButtonType.PRIMARY" (click)="save()">
          {{'Core.btnSave' | translate}}
        </ct-button>
      </div>
    </div>
  </div>
</div>
