<div class="modal fade" id="userModal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{'Components.Structure.User.UserModal.title' | translate}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formGroup" [attr.id]="formId">
          <div class="form-row">
            <div class="col-md">
              <ct-textfield [label]="'Components.Structure.User.UserModal.id'"
                            [formControlName]="'id'"></ct-textfield>
              <ct-textfield [label]="'Components.Structure.User.UserModal.userName'"
                            [formControlName]="'username'"></ct-textfield>
              <ct-textfield [label]="'Components.Structure.User.UserModal.password'"
                            [formControlName]="'password'"></ct-textfield>
              <ct-textfield [label]="'Components.Structure.User.UserModal.email'"
                            [formControlName]="'email'"></ct-textfield>
              <ct-combo-box [label]="'Components.Structure.User.UserModal.role'"
                            [eqVal]="'idRole'"
                            [values]="roles"
                            [itemCaption]="'name'"
                            [formControlName]="'role'"></ct-combo-box>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <ct-button [label]="'Core.btnCancel'" [type]="buttonType.DANGER" (click)="close()"></ct-button>
        <ct-button [label]="'Core.btnSave'" [type]="buttonType.PRIMARY" (click)="save()"></ct-button>
      </div>
    </div>
  </div>
</div>
