<div class="container-fluid main">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">

          <mat-tab-group animationDuration="0ms" mat-align-tabs="start">
            <mat-tab label="{{PREFIX + '.subMenuCharts' | translate}}">
              <app-institute-chart></app-institute-chart>
            </mat-tab>
            <mat-tab label="{{PREFIX + '.subMenuInstitutes' | translate}}">
              <app-institute-table></app-institute-table>
            </mat-tab>
            <mat-tab label="Third">

            </mat-tab>
          </mat-tab-group>

        </div>
      </div>
    </div>
  </div>
</div>
<app-institute-modal></app-institute-modal>
