.score {
  padding: 15px;

  .text {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: forestgreen;
    text-align: center;
    margin: auto;
    padding: 26px 0;
    color: white;
    font-size: 25px;
  }
}

.tag {
  text-align: center;
}

