<div class="modal fade" id="instituteModal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">{{PREFIX + '.title' | translate}}</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formGroup" [attr.id]="formId">
          <div class="form-row">
            <div class="col-md">
              <ct-textfield class="d-none" [label]="PREFIX+'.idCompany'"
                            [formControlName]="'idCompany'"></ct-textfield>
              <ct-textfield [label]="PREFIX+'.name'"
                            [formControlName]="'name'"></ct-textfield>
              <ct-textfield [label]="PREFIX+'.email'"
                            [formControlName]="'email'"></ct-textfield>
            </div>
          </div>
        </form>
        <app-institute-address-modal></app-institute-address-modal>
      </div>
      <div class="modal-footer">
        <ct-button [type]="ButtonType.DANGER" (click)="close()">
          {{'Core.btnCancel' | translate}}
        </ct-button>
        <ct-button [type]="ButtonType.PRIMARY" (click)="save()">
          {{'Core.btnSave' | translate}}
        </ct-button>
      </div>
    </div>
  </div>
</div>
