<div class="container-lg container-fluid">

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <h1>{{PREFIX + '.title' | translate}}</h1>
            </div>
          </div>
          <div cdkDropList (cdkDropListDropped)="drop($event)">
            <div class="row" *ngFor="let criterion of selectedCriterion; let i = index" cdkDrag>
              <div class="col-12 text-center">
                <fa-icon [icon]="faGripHorizontal" cdkDragHandle></fa-icon>
              </div>
              <div class="col-12">
                <app-sand-box-criterion-card [criterion]="criterion"
                                             [delete]="delete"
                                             [save]="save"
                                             [config]="config"></app-sand-box-criterion-card>
              </div>
            </div>
          </div>

          <button type="button" class="btn btn-outline-primary btn-lg btn-block" (click)="addCriterion()">
            {{'Core.btnAdd' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
<app-sand-box-criterion [criterionList]="criterionList"
                        [criterionCache]="criterionCache"
                        [open]="open"
                        [refresh]="refresh"></app-sand-box-criterion>
