<div class="container-lg container-fluid">

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">

          <div class="row">
            <div class="col-12">
              <h1>{{PREFIX + '.title' | translate}}</h1>
            </div>
          </div>

          <div cdkDropList (cdkDropListDropped)="drop($event)">
            <div class="row" *ngFor="let category of categories; let i = index" cdkDrag>
              <div class="col-12 text-center">
                <fa-icon class='dragAndDrop' [icon]="faGripHorizontal" cdkDragHandle></fa-icon>
              </div>
              <div class="col-12">
                <app-sand-box-category-card [category]="category"
                                            [open]="openCategory"
                                            [delete]="delete"></app-sand-box-category-card>
              </div>
            </div>
          </div>
          <div class="d-grid gap-2">
            <button type="button" class="btn btn-outline-primary btn-lg btn-block" (click)="addCategory()">
              {{'Core.btnAdd' | translate}}
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
<app-sand-box-category-modal [open]="openCategory"
                             [refresh]="refresh"></app-sand-box-category-modal>
<app-sand-box-criterion [categories]="categories"></app-sand-box-criterion>
