<div class="modal fade" id="CriterionModal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">{{PREFIX + '.title' | translate}}</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formGroup" [attr.id]="formId">
          <div class="form-row">
            <div class="col-md">
              <ct-textfield class="d-none"
                            [label]="PREFIX+'.idCriterion'"
                            [formControlName]="'idCriterion'"></ct-textfield>
              <ct-textfield [label]="PREFIX+'.name'"
                            [formControlName]="'name'"></ct-textfield>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <ct-button [label]="'Core.btnCancel'" [type]="buttonType.DANGER" (click)="close()"></ct-button>
        <ct-button [label]="'Core.btnSave'" [type]="buttonType.PRIMARY" (click)="save()"></ct-button>
      </div>
    </div>
  </div>
</div>
