@import "common";

.form-group {
  input,
  select {
    border: 0;
    border-bottom: 1px solid $input-base-color;
    border-radius: 0;
    padding: 0;

    &:focus,
    &:hover {
      outline: none;
      box-shadow: none;
      border: 0;
      border-bottom: 1px solid $input-focus-color;
    }

    &.is-valid {
      border-bottom: 1px solid $input-success-color;
    }

    &.is-invalid {
      border-bottom: 1px solid $input-danger-color;
    }
  }
}
