<div class="card border-primary category-card mb-2">
  <div class="card-header">
    <div class="float-right">
      <button type="button" class="btn btn-outline-secondary mr-1" (click)="edit()">
        <fa-icon [icon]="faPen"></fa-icon>
      </button>
      <button type="button" class="btn btn-outline-danger" (click)="remove()">
        <fa-icon [icon]="faTrash"></fa-icon>
      </button>
    </div>
    <h1 class="card-title">
      {{category.name}}
    </h1>
  </div>

  <div class="card-body">

    <div cdkDropList (cdkDropListDropped)="drop($event)">
      <div class="row" *ngFor="let criterion of category.criterionList; let i = index" cdkDrag>
        <div class="col-12 text-center">
          <fa-icon class='dragAndDrop' [icon]="faGripHorizontal" cdkDragHandle></fa-icon>
        </div>
        <div class="col-12">
          <app-sand-box-criterion-card [criterion]="criterion"
                                       [delete]="deleteCriterion"></app-sand-box-criterion-card>
        </div>
      </div>
    </div>

    <button type="button" class="btn btn-outline-secondary btn-block" (click)="addCriterion()">
      {{PREFIX + '.btnAddCriterion' | translate}}
    </button>
  </div>
</div>
